[init]
	templatedir = /home/chris/.git-template

[user]
	name = Chris Todorov
	email = chris@freerunningtechnologies.com

[github]
  user = forkata

[merge]
  tool = vimdiff
[push]
	default = simple
[branch]
	autosetuprebase = always
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	excludesfile = /home/chris/.gitignore_global
