[init]
  templatedir = ~/.git-template
  defaultBranch = main

[user]
  name = Chris Todorov
  email = chris.todorov@gmail.com
  signingkey = F3FC218AC477C2E1

[github]
  user = forkata

[commit]
  cleanup = scissors
  verbose = true

[merge]
  tool = vimdiff
  conflictstyle = diff3

[push]
  default = simple

[pull]
  rebase = true

[branch]
  autosetuprebase = always

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pushf = push --force-with-lease
  pr = "!f() { git log --merges --ancestry-path --oneline $1..master | grep 'pull request' | tail -n1 | awk '{ print $5 }'; }; f"
  flog = reflog --pretty=format:'%C(bold cyan)%h%C(reset) %C(blue)%cd %C(bold green)%s %C(bold cyan)%an%Creset%C(bold red)%d' --abbrev-commit --date=short

[core]
  excludesfile = ~/.gitignore_global

[rebase]
  autosquash = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[include]
  path = ~/.gitconfig.local
